<div class="container-fluid basic-border-red">
    <p>product-search works!</p>

    <!-- <div class="input-group">
        <div class="form-outline">
            <label class="form-label" for="form1">Search</label>
            <input type="search" id="form1" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div> -->

    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <button class="btn btn-danger border-0" id="search-clear">Clear</button>
            <button class="btn btn-primary border-0" id="search-addon">Search</button>
    </div>
    <hr>

    <app-product-list></app-product-list>

</div>