<div class="container-fluid basic-border-red">
  <!--  <p>product-search works!</p>-->

  <div class="input-group rounded mt-2">
    <label for="inputSearchElement"></label>
    <input [(ngModel)]="strSearch"
           id="inputSearchElement"
           class="form-control rounded placeholder-wave text-info"
           placeholder="Search"/>
        <button class="btn btn-danger border-0" (click)="this.strSearch = ''">Clear</button>
  </div>
  <hr>

  <app-product-list [strSearch]="strSearch"></app-product-list>

</div>
