<div id="idOrderComponentContainer" class="">
  <!--  <p>order works!</p>-->

  <!-- Order Summary Component -->
  <div id="idOrderSummaryComponentContainer" class="container basic-border-yellow">
    <app-order-summary></app-order-summary>
  </div>

  <!-- Order Product & Order Cart Components -->
  <div id="idProductSearchAndCartContainer" class="container basic-border-green">

    <div class="row ">
      <!-- Order Product Components -->
      <div class="col-lg-9 ">
        <app-order-product></app-order-product>
      </div>
      <!-- Order Cart Components -->
      <div class="col-lg-3 zero-margin-padding">
        <app-order-cart></app-order-cart>
      </div>
    </div>

  </div>

</div>
