<div class="">
  <!--<p>Hola..!!</p>-->
  <!--    <p>cart-product-item works!</p>-->

  <!--   Header Row -->
  <div class="row basic-border-green text-center m-0 p-0">

    <!--    <span class="col-lg-2 basic-border-blue">{{this.serialNo}}</span>-->
    <div class="col-lg-6 basic-border-blue d-flex flex-column p-0 m-0">
      <span class="basic-border-blue ">{{this.productModel.name}}</span>
      <span class=" basic-border-red">[{{this.productModel.code}}]</span>
    </div>
    <div class="col-lg-6">
      <div class="row ">
        <!-- Qty component -->
        <div class="col-lg-6 basic-border-yellow m-0 p-0 ">
          <app-order-qty [productModel]="productModel"></app-order-qty>
        </div>
        <div class="col-lg-4 basic-border-blue d-flex flex-column m-0 p-0">
          <span class="basic-border-blue">({{this.productModel.dp}})</span>
          <span class="basic-border-blue">{{this.productModel.qty * this.productModel.dp}}</span>
        </div>
        <button *ngIf="productModel.qty > 0" class="col-lg-2 btn btn-danger m-0 p-0"
                (click)="resetQty()">X
        </button>
      </div>
    </div>

  </div>
</div>
