<div class="container basic-border-blue">

  <span class="fs-3 basic-border-red">Order Summary</span>

  <ng-template #cartIsEmpty class="d-flex justify-content-center">
    <div class="row fs-4 text-center justify-content-center basic-border-blue ">
      <p id="idCartIsEmptyPara" class="col-lg-6 m-0 basic-border-green">Cart Is Empty.</p>
    </div>
  </ng-template>

  <div *ngIf="orderSummaryModel.totalQty !== 0; else cartIsEmpty;">
    <!--    <p>Order Summary</p>-->

    <div class="row text-center fs-4 zero-margin-padding  basic-border-green" id="order-summary-header">
      <span class="col-lg-2">Product Count</span>
      <span class="col-lg-2">Total Qty</span>
      <span class="col-lg-2">Total MRP</span>
      <span class="col-lg-2">Total DP</span>
      <span class="col-lg-2">Total BV</span>
      <span class="col-lg-2">Total PV</span>
    </div>

    <div class="row text-center zero-margin-padding fs-4 basic-border-yellow" id="order-summary-content">
      <span class="col-lg-2">{{orderSummaryModel.uniqueProductCount}}</span>
      <span class="col-lg-2">{{orderSummaryModel.totalQty}}</span>
      <span class="col-lg-2">{{orderSummaryModel.totalMRP}}</span>
      <span class="col-lg-2">{{orderSummaryModel.totalDP}}</span>
      <span class="col-lg-2">{{orderSummaryModel.totalBV.toFixed(2)}}</span>
      <span class="col-lg-2">{{orderSummaryModel.totalPV.toFixed(2)}}</span>
    </div>

    <div class="row zero-margin-padding text-end justify-content-end">
      <span class="col-auto fs-4 text-info basic-border-yellow">
        Net. Amount: {{ orderSummaryModel.netAmount }}
      </span>
    </div>
  </div>

</div>
