<p>product-list works!</p>

<div class="container-fluid basic-border-blue">

    <div class="container-fluid">
        <!-- Header Row -->
        <div class="row basic-border-red">
            <span class="col-lg-2">Product Code</span>
            <span class="col-lg-4">Product Name</span>
            <span class="col-lg-1">MRP</span>
            <span class="col-lg-1">DP</span>
            <span class="col-lg-1">BV</span>
            <span class="col-lg-1">PV</span>
            <span class="col-lg-2">Qty</span>

            <!-- code product mrp dp bv pv qty -->
            <!-- 2    4       1   1  1  1  2 -->
        </div>
    </div>
    <hr>

    <div *ngFor="let product of productList">
        <app-product-item></app-product-item>
    </div>
</div>