<!--<p>product-list works!</p>-->

<div class="container-fluid basic-border-blue">

  <div class="container-fluid">

    <!-- Header Row -->
    <div class="row basic-border-red justify-content-center text-center" id="product-list-header">
      <span class="col-lg-2 basic-border-blue">Product Code</span>
      <span class="col-lg-4 basic-border-blue">Product Name</span>
      <span class="col-lg-1 basic-border-blue">MRP</span>
      <span class="col-lg-1 basic-border-blue">DP</span>
      <span class="col-lg-1 basic-border-blue">BV</span>
      <span class="col-lg-1 basic-border-blue">PV</span>
      <span class="col-lg-2 basic-border-blue">Qty</span>

      <!-- code product mrp dp bv pv qty -->
      <!-- 2    4       1   1  1  1  2 -->
    </div>
  </div>
  <hr>

  <div id="product-list-content" *ngFor="let product of (productList | productListFilterPipe:strSearch)">
    <app-product-item [productModel]="product"></app-product-item>
  </div>
</div>
