<div>

  <div id="product-item-qty" class="p-0 m-0 basic-border-green">

    <div *ngIf="this.productModel.qty === 0; else qtyNotEmpty">
      <button class="btn btn-primary btn-sm" (click)="incrementQtyBy1()">ADD</button>
    </div>

    <ng-template #qtyNotEmpty class="">
      <div class="row m-0 p-0 ">

        <button class="col-lg-4 btn btn-sm btn-warning p-0 m-0"
                (click)="decrementQtyBy1()">-
        </button>
        <!-- css class overflow-auto -->
        <span class="col-lg-4 basic-border-green m-0 p-0"
              [textContent]="this.productModel.qty"></span>
        <!--        <input type="number" class="fw-bold basic-border-red p-1" [value]="this.productModel.qty">-->
        <button class="col-lg-4 btn btn-sm btn-success"
                (click)="incrementQtyBy1()">+
        </button>
        <!--        <button class="col-lg-3 btn btn-sm btn-warning m-0 p-0"-->
        <!--                (click)="resetQty()">x-->
        <!--        </button>-->

      </div>
    </ng-template>

  </div>

</div>
