<div class="container-fluid ">

  <!-- Header Row -->
  <div class="row basic-border-green">
    <span class="col-lg-2">{{this.productModel.code}}</span>
    <span class="col-lg-4">{{this.productModel.name}}</span>
    <span class="col-lg-1">{{this.productModel.mrp}}</span>
    <span class="col-lg-1">{{this.productModel.dp}}</span>
    <span class="col-lg-1">{{this.productModel.bv}}</span>
    <span class="col-lg-1">{{this.productModel.pv}}</span>
    <span class="col-lg-2">{{this.productModel.qty}}</span>

    <!-- code product mrp dp bv pv qty -->
    <!-- 2    4       1   1  1  1  2 -->
  </div>
</div>
